<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :food_name %>
    <%= form.text_field :food_name %>
  </div>

  <div class="field">
    <%= form.label :shopping_list_id %>
    <%= form.collection_select :shopping_list_id, ShoppingList.all, :id, :list_name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
